/* --- VARIABLES --- */
@cPrimary: #3399cc;
@cSecondary: #000000;
@cTertiary: #000000;
@cQuaternary: #000000;
@cDefault: #000000;
@cHighlight: #000000;

@sExtraSmall: 10px;
@sSmall: 12px;
@sMedium: 14px;
@sLarge: 18px;
@sExtraLarge: 28px;